@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kode+Mono:wght@400..700&family=Micro+5&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 2.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 100;
}

.logo{
    font-size: 26px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    /* filter: drop-shadow(0 0 5px #09001d); */
    font-family: 'Kanit', sans-serif;
}

.navbar a{
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;
    font-family: 'Kanit', sans-serif;
}

.navbar a:hover,
.navbar a.active{
    color: #5B32AD;
}

.main{
    min-height: 100vh;
    background: #D2B4DE;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}

/* .main.active{
    filter: blur(15px);
    pointer-events: none;
} */

.recre{
    position: relative;
    /* left: -50%; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recre-content{
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.gif-genre {
    position: fixed;
    bottom: 0;
   /*width: 50%;
    left: 50%; 
    transform: translateX(-50%);
    animation: moveGif 5s linear infinite;*/
}
    
.recre-content h1{
    font-size: 50px;
    font-weight: 700;
    /* text-shadow: 0 0 10px rgba(0,0,0,0.5); */
    margin-bottom: 1px;
    position: absolute;
    top: 50px;
    left: 150px;
    font-family: "Kanit", sans-serif;
    color: #000000;

}

.recre-content .horror-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 300px;
    left: 600px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .horror-btn:hover{
    background: #181A54;
    box-shadow: none;
}

.recre-content .movies-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 240px;
    left: 600px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .movies-btn:hover{
    background: #181A54;
    box-shadow: none;
}

.recre-content .bolly-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 240px;
    left: 200px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .bolly-btn:hover{
    background: #181A54;
    box-shadow: none;
}

.recre-content .holly-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 300px;
    left: 200px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .holly-btn:hover{
    background: #181A54;
    box-shadow: none;
}

.recre-content .music-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 240px;
    left: 1000px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .music-btn:hover{
    background: #181A54;
    box-shadow: none;
}

.recre-content .unknown-btn{
    width: 300px;
    height: 55px;
    background:#6f3596;
    border: 2px solid #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #c40094;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    position: absolute;
    top: 300px;
    left: 1000px;
    transition: .5s;
    font-family: "Micro 5", sans-serif;
}

.recre-content .unknown-btn:hover{
    background: #181A54;
    box-shadow: none;
}

